.times {
  margin-left: 1.5rem;
}
.time-button {
  background-color: #0095ff;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 12px;
  padding: 5px 15px;
}
.time-button:hover {
  background-color: #0360a3;
}
@media screen and (max-width: 600px) {
  .common-sidebar {
    background-color: #f0f6f9;
    width: 4rem !important;
  }
}
