.add-form-heading {
  color: #808080;
  font-size: 12px;
  font-weight: '500';
  margin: 0 0 0.2rem 0.3rem;
}
.form-control {
  background-color: #f3f3f3 !important;
  border: none !important;
  color: #808080 !important;
  font-size: 12px !important;
  width: 80% !important;
}
.form-select {
  background-color: #f3f3f3 !important;
  border: none !important;
  color: #808080 !important;
  font-size: 12px !important;
  width: 80% !important;
}
