.customer-side {
  width: 100%;
}
.customer-background {
  border-radius: 25px;
  box-shadow: 1px 1px 1px 1px rgb(0, 0, 0, 0.5);
  height: 30rem;
  margin-top: 2rem;
  padding: 1rem 0px !important;
  width: 40% !important;
}
.customer-img {
  background-color: grey;
  border-radius: 10rem;
  height: 6rem;
  margin-bottom: 1rem;
  width: 6rem;
}
.customer-details {
  width: 92%;
}
.customer-details p {
  font-size: 12px;
}
.details-heading {
  width: 25%;
}
.details {
  margin-left: 1rem;
  width: 75%;
}
@media screen and (max-width: 425px) {
  .details-heading {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .customer-background {
    width: 80% !important;
  }
}
