.orders {
  width: 100%;
}
.title-row {
  border-bottom: 1px solid #dcd8d8;
  padding-bottom: 1.5rem;
}
.title-heading {
  font-weight: bold;
}
.balance-text {
  color: #808080;
  font-size: 12px;
  margin: 0px !important;
}
.order-icon {
  margin-right: 10px;
}
.orders-subtotal {
  font-size: 16px;
  margin: 0px;
}
.order-subheading {
  color: #808080;
  font-size: 12px;
  margin: 0px;
}
@media screen and (max-width: 600px) {
  .common-sidebar {
    background-color: #f0f6f9;
    width: 4rem !important;
  }
}
@media screen and (max-width: 424px) {
  .title-heading {
    font-size: 14px;
  }
  .orders-subtotal {
    font-size: 10px;
  }
  .orders-table {
    padding: 0 6rem !important;
    margin: 0 6rem !important;
  }
}
