.signup-page {
  background-color: #314e52;
  height: 100%;
  padding-bottom: 3rem;
  width: 100vw;
}
.signup-container {
  background-color: rgb(255, 255, 255, 0.4);
  border-radius: 2rem;
  height: 50rem;
  width: 42% !important;
}
.main-text {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}
.sub-text {
  color: #314e52;
  font-size: 1rem;
  text-align: center;
}
.form-control {
  height: 2rem !important;
  width: 70% !important;
}
.signup-input {
  background: none;
  border: none;
  outline: none;
  width: 20rem !important;
}
.show-password-button {
  background-color: #f3f3f3;
  border: none;
}
.signup-subButton {
  background-color: #314e52;
  border: none;
  border-radius: 8px;
  color: rgb(255, 255, 255, 0.4);
  height: 2rem;
  width: 4rem;
}
.signup-subButton:hover {
  background-color: #24383a;
}
.btn-outline-success {
  --bs-btn-color: #e7e6e1 !important;
  --bs-btn-border-color: #f2a154 !important;
  --bs-btn-hover-color: #f2a154 !important;
  --bs-btn-hover-bg: transparent !important;
  --bs-btn-hover-border-color: #f2a154 !important;
  --bs-btn-active-color: #e7e6e1 !important;
  --bs-btn-active-bg: #f2a154 !important;
  --bs-btn-active-border-color: #f2a154 !important;
}
.btn {
  --bs-btn-font-size: 0.9rem !important;
  --bs-btn-border-width: 3px !important;
}
@media screen and (max-width: 425px) {
  .signup-page {
    width: 120vw !important;
  }
}
@media screen and (max-width: 768px) {
  .signup-container {
    width: 80% !important;
  }
}
